@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --clr-blue: hsl(246, 80%, 60%);
  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --clr-pale-blue: hsl(236, 100%, 87%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--clr-dark-blue);
}
